<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css"> 

<link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/9910795a8e.js" crossorigin="anonymous"></script>

   
    <title>Document</title>
  </head>
  <body>
    <header>
      <i class="far fa-lemon"></i>
            
      <b>CODIFY</b>
      <a href="../../index.html">Ir a home</a>

    </header>
    <br><br>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13390.532772867706!2d-60.65091624991666!3d-32.96069249417864!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7aaff85375e01%3A0xe3758e0405648f94!2sAv.%20Pellegrini%2045%2C%20S2000BTA%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1629901792771!5m2!1ses!2sar"
      width="500"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
<br><br><br><br>
    <form action="/action_page.php" method="get">
    
      <label for="w3review">Ingrese su consulta:</label>
      <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
        <br><br>
        <input type="submit" value="Submit">
     
    
    
    </form>
  </body>
</html>
